<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @aluno.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @aluno.phone %>
</p>

<%= link_to 'Edit', edit_aluno_path(@aluno) %> |
<%= link_to 'Back', alunos_path %>
